/* bgcolor #FFFFFF */
/* dark-bg-color #2F303A */
/* secondary bgcolor #F5F4FA */
/* main text color #757575 */
/* accent color #2196F3 */
/* secondary-accent-color #188CE8 */
/* tertiary-text-color #ffffff */
/* secondary text color #212121 */
/* black-text-color #000000 */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}
button {
  cursor: pointer;
  line-height: 1.62;
}
ul,
li,
h2 {
  padding: 0;
  margin: 0;
}
/* -------------------------Template to delete markers in lists ------------------------*/
.list {
  list-style: none;
}
/* -------------------------Link template ------------------------*/
.link {
  text-decoration: none;
}
/* -------------------------Section template ------------------------*/
.section {
  justify-content: space-evenly;
  align-items: center; 
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
/* -------------------------Visually hidden template ------------------------*/
.vis-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -------------------------Header ------------------------*/
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  height: 80px;
}
/* ----------------------Nav----------------------------- */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* -------------------------Logo-------------------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 44px;
}
.logo-color-1 {
  color: var(--accent-color);
}
.logo-color-2 {
  color: var(--black-text-color);
}
.logo-color-3 {
  color: var(--tertiary-text-color);
}
/* -------------------------Site-nav ------------------------*/
.site-nav li {
  display: inline-block;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-left: 50px;
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}
/* -------------------------Contacts------------------------*/
.contacts {
  display: flex;
  align-items: center;
}
.contacts li {
  margin-right: 50px;
    justify-content: space-evenly;
}

.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* ------------------Main--------------------- */
main {
justify-content: center;
}

/* -------------------------Hero ------------------------*/
.hero {
  background-color: var(--dark-bg-color);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-top: 0;
  width: 696px;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* -------------------------Features ------------------------*/
.features {
  display: flex;
  justify-content: space-evenly;
 width: 1170px;
height: 101px;
margin:94px auto;
}
.features li {
  width: 270px;
}
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features .text {
  line-height: 1.71;
}
/* --------------------- Ocupation----------------*/
.ocupation.section {
  height: 386px;
  margin: auto;
  margin-bottom: 94px;
  justify-content: center;
  align-items: center;
}
.ocupation.list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
}
.ocupation li {
  display: inline-block;
  justify-content: space-evenly;
}
/* -------------------------Team ------------------------*/
.team.section {
  background-color: var(--secondary-bg-color);
}
.team-card {
  background-color: var(--main-bg-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* -------------------------Footer ------------------------*/
.footer {
  background-color: var(--dark-bg-color);
}
.address {
  font-style: normal;
}
.footer-address {
  line-height: 1.71;
  color: var(--tertiary-text-color);
}
.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/* -------------------------Portfolio page ------------------------*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button.current {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
}
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.portfolio .type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
